* {
    box-sizing: border-box;
}

.app-page-add-lift main {
    padding: 0 3% 0;
    
}

.app-page-add-lift input {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    outline: none;
    border: none;
    border-bottom: #9e9e9e 1px solid;
    padding: 0 10px;
}

.app-page-add-lift input[type=button],
.app-page-add-lift button {
    background-color: #607D8B;
    border: none;
    color: white;
    line-height: 40px;
    border-radius: 2px;
}

.app-page-add-lift input[type=date] {
    padding: 12px 10px;
    background-color: white;
}

.app-page-add-lift input[type=text] {
    font-size: 18px;
}

.app-page-add-lift label {
    display: block;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: 300;
    text-align: right;
    background-color: #fafafa;
    padding: 10px;
}


.app-page-add-lift input,
.app-page-add-lift .reps,
.app-page-add-lift buttons {
    margin-bottom: 15px;
}

.app-page-add-lift .submit {
    display: block;
    position: fixed;
    bottom: 10px;
    left: 3%;
    right: 3%;
    width: 94%;
    height: 50px;
}

.app-page-add-lift .reps-container {
    padding: 20px 10px;
    background-color: #eee;
    margin-top: 20px;
}

.app-page-add-lift .reps {
    display: flex;
    align-items: center;

}

.app-page-add-lift .reps input {
    margin: 0 5px;
}

.app-page-add-lift .add-rep {
    display: block;
    width: 100%; 
}