.view-exercises-add {
    input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        font-size: 16px;
        border: 1px solid #e0e0e0;
        background-color: white;
        line-height: 40px;
        outline: 0;
        padding: 0 10px;
        margin-bottom: 0!important;
        text-transform: capitalize;
        font-size: 16px;
    }

    .content {
        padding: 3vw;
    }

    .entry {
        display: block;
        margin-bottom: 10px;
        margin-top: 15px;
        font-weight: 300;
        text-align: right;
        background-color: #fff5ee;
        padding: 10px;
    }

    button {
        position: relative;
        display: block;
        width: 100%;
        cursor: pointer;
        padding: 0 32px;
        box-sizing: border-box;
        border-radius: 24px;
        background: #fff;
        border: 1px solid #e0e0e0;
        font-weight: 500;
        transition: background-color .25s,opacity .25s,color .25s,border .25s,box-shadow .25s;
        color: #616161;
        height: 42px;
        font-size: 14px;
    }

    .tags {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: -10px;

        >div {
            line-height: 24px;
            height: 24px;
            font-size: 14px;
            font-weight: 300;
            padding: 0 8px;
            background-color: #e35252;
            color: #fff;
            border-radius: 8px;
            margin: 0 8px 10px 0;
            text-transform: lowercase;

            &.add {
                background-color: transparent;
                text-align: center;
                font-weight: 400;
                flex-grow: 1;
                margin: 0 0 10px 0;
                color: #999;
            }
        }
    }

    .sets {
        >div {
            display: flex;
            align-items: center;
            margin-bottom: 4px;

            &:last-of-type {
                margin-bottom: 10px;
            }

            input:first-of-type {
                margin: 0 1px 0 0;                
            }

            input:last-of-type {
                margin: 0 0 0 1px;                
            }

            >div {
                width: 60px;
                background-color: lighten(#dc2626, 20%);
                border: 1px solid lighten(#dc2626, 20%);
                color: white;
                line-height: 40px;
                text-align: center;
            }
        }
    }
}