.view-exercises-add {
    nav {
        display: flex;
        background: #333;
        color: white;
        justify-content: space-between;
        padding: 0 3%;
        line-height: 50px;
    }

    .item {
        line-height: 70px;
        border-bottom: solid 1px #e0e0e0;
        padding: 0 3%;
    }
}