.component-workouts-add-sets {
    background-color: white;
    min-height: 100vh;

    .set {
        display: flex;
        justify-content: space-around;
        position: relative;
        padding: 16px 40px 16px 0;
        border-bottom: 1px solid #eee;
        text-align: center;

        >div {
            width: 50%;
        }

        input {
            text-align: center;
            width: 100%;
            font-size: 16px;
        }

        .delete {
            position: absolute;
            padding: 8px 12px;
            right: 8px;
            width: auto;
            top: calc(50% - 16px);
        }
    }

    .add {
        display: block;
        padding: 12px 40px;
        margin: 8px;
    }

    .cancel {
        display: block;
        position: fixed;
        bottom: 84px;
        left: 8px;
        right: 8px;
        padding: 12px 40px;
    }

    .submit {
        display: block;
        position: fixed;
        bottom: 8px;
        left: 8px;
        right: 8px;
    }
}

