<app-navbar>
    <app-navbar-left 
        routerBack>
        <i class="fas fa-chevron-left"></i> Cancel
    </app-navbar-left>
    <app-navbar-center>
        New Exercise
    </app-navbar-center>
    <app-navbar-right (click)="submit()">
        Update
    </app-navbar-right>
</app-navbar>

<main class="container">  
    <label class="field">
        <input 
            type="date" 
            [(ngModel)]="exercise.date"/>     
    </label>  
    
    <label class="field">
        <input
            type="text" 
            placeholder="Movement" 
            [(ngModel)]="exercise.movement"
            (input)="search()" />
        <div class="suggestions" *ngIf="suggestions.length">
            <div 
                *ngFor="let suggestion of suggestions"
                (click)="selectSearch(suggestion)"
                >{{ suggestion }}
            </div>
        </div>
    </label>

    <label class="field">
        <div class="types">
            <div class="type" *ngFor="let tag of exercise.tags; let i = index">
                {{ tag }} <i class="fal fa-times"></i>
            </div>
            <input type="text" #tagEditor placeholder="Muscles/Tags" (keydown.enter)="addTag(tagEditor.value); tagEditor.value = ''">
        </div>
    </label>
    
    <label class="field">
        <div *ngFor="let set of exercise.sets; let i = index" class="reps">
            <input 
                [(ngModel)]="set.reps"
                placeholder="Reps" 
                type="number" />
            <input 
                [(ngModel)]="set.weight"
                placeholder="Weight" 
                type="number" />
            <i class="fas fa-times" (click)="removeRep(i)"></i>
        </div>
        <app-button 
            small    
            theme="white"
            (click)="addSet()">
            Add Set
        </app-button>
    </label>
    
    <label class="field">
        <textarea autogrow placeholder="Notes" [(ngModel)]="exercise.notes"></textarea>    
    </label>

    <app-button 
        small    
        (click)="remove()">
        Delete
    </app-button>

    <app-button 
        class="submit"
        small    
        theme="primary"
        (click)="submit()">
        Update
    </app-button>
</main>
