.component-workouts-add {
    background-color: white;
    min-height: 100vh;

    .submit {
        display: block;
        position: fixed;
        bottom: 8px;
        left: 8px;
        right: 8px;
    }
}

.component-workouts-add-block {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid #e0e0e0 1px;
    font-size: 18px;

    &.is-title {
        font-size: 25px;
        color: #666;
    }

    strong {
        display: inline-block;
        margin-right: 4px;
    }

    .text {
        color: black;
    }

    .placeholder {
        color: #999;
    }
}