<app-navbar>
    <app-navbar-left>Settings</app-navbar-left>
</app-navbar>

<main class="container">
    <br>
    <h5>Export / Import</h5>
    <app-button 
        (click)="export()"
        theme="primary"
        >Export</app-button>
    <app-button
        (click)="import()"
        >Import
    </app-button>
</main>

<app-toolbar>
    <app-toolbar-item 
        *ngFor="let toolbarItem of toolbarItems"
        [routerLink]="toolbarItem.route"
        [routerLinkActive]="['active']"
        [icon]="toolbarItem.icon"
        [text]="toolbarItem.text"
    ></app-toolbar-item>
</app-toolbar>