.fab-component {
  height: 80px;
  width: 80px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
}