@import "../../../styles/variables.scss";

$button-height: 52px;
$button-height-small: 42px;
$animation-length: 0.6s;
$fade-in: fade-in $animation-length;
$loader-dot-width: 10px;
$transition-duration: .25s;

:host {
    position: relative;
    margin-bottom: $spacing-level-6;
}

:host,
.content,
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button[disabled] {
    opacity: 0.6;
    cursor: default;
    pointer-events: none;
}

button {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 0 $spacing-level-8;
    height: $button-height;
    box-sizing: border-box;
    border-radius: 24px;
    background: transparent;
    border: solid 1px $color-gray-300;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    transition:
        background-color $transition-duration,
        opacity $transition-duration,
        color $transition-duration,
        border $transition-duration,
        box-shadow $transition-duration;
    color: $color-gray-700;
    &:focus,
    &:active {
        outline: none;
    }

    &:active {
        opacity: 0.8;
        transition: opacity 0s;
    }

    &.primary {
        border: none;
        color: white;

        &[disabled] {
            opacity: 1;
            cursor: default;
            pointer-events: none;
            background-color: $color-gray-400;
        }
    }

    &.danger {
        color:white;
        background-color: $color-5;
    }

    &.primary {
        color: white;
        background-color: $color-1;
    }

    &.secondary {
        color: white;
        border: none;
        background-color: $color-4;
    }

    &.small {
        height: $button-height-small;
        font-size: 14px;
    }
}