<app-navbar>
    <app-navbar-left [routerLink]="['/exercises']">
        <i class="fas fa-chevron-left"></i> Back
    </app-navbar-left>
    <app-navbar-right [routerLink]="['/exercises', 'edit', exercise.id ]">
        Edit
    </app-navbar-right>
</app-navbar>

<main class="container">
    <section class="themed">
        <div class="movement">{{ exercise.movement }}</div>
        <div class="date">{{ moment(exercise.date).format('dddd / DD MMMM') }}</div>
    </section>

    <section class="themed" *ngIf="exercise.tags.length">
        <div class="tags">
            <div class="tag" *ngFor="let tag of exercise.tags">{{ tag }}</div>
        </div>
    </section>

    <section class="themed" *ngIf="exercise.notes">
        <div class="title">Notes:</div>
        <div class="notes">{{ exercise.notes }}</div>
    </section>
    
    <section class="chart" [style.display]="exercise.sets.length ? 'block' : 'none'">
        <div class="title">
            This Workout
        </div>
        <div class="legend">
            <span>Weight</span>
            <span>Reps</span>
        </div>
        <div #chartOutlet></div>
    </section>

    <section class="chart">
        <div class="title">
            Big Picture
            <div class="options">
                <select>
                    <option>All Time</option>
                    <option>1 Month</option>
                    <option>3 Months</option>
                    <option>6 Months</option>
                    <option>9 Months</option>
                    <option>1 Year</option>
                </select>
            </div>
        </div>
        <div class="legend">
            <span>Weight</span>
            <span>Reps</span>
        </div>
        <div #chartMacroOutlet></div>
    </section>
</main>
