.app-navbar-component {
    height: 50px;   
}

.app-navbar-component .app-navbar {
    border-bottom: 1px #eee solid;
    background-color: white;
    line-height: 50px;
    height: 50px; 
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.app-navbar-component .left,
.app-navbar-component .right,
.app-navbar-component .center
{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    padding: 0 3%;
}

.app-navbar-component .left {
    right: 50%;
    text-align: left;
}

.app-navbar-component .right {
    left: 50%;
    text-align: right;
}

.app-navbar-component .center {
    z-index: 1;
}