<app-navbar>
    <app-navbar-left>Body Weight</app-navbar-left>
    <app-navbar-right 
        [routerLink]="['/bodyweight', 'add']">
        <i class='fas fa-plus'></i>
    </app-navbar-right>
</app-navbar>

<main>
    <div class="selector">
        <div class="top">
            Graph Range (Days)
        </div>
        <div class="bottom">
            <input style="width:100%" type="range" min="14" max="365" (change)="makeChart(range)" [(ngModel)]="range">
            <input type="number" (input)="makeChart($event.target.value)" [(ngModel)]="range">
        </div>
    </div>
    <div class="chart">
        <canvas #chartBodyweight></canvas>
    </div>
    <div class="heading">Weights</div>
    <div 
        *ngFor="let bodyweight of bodyweights"
        [routerLink]="['/', 'bodyweight', 'edit', bodyweight.id]"
        class="bodyweight">
        <span>{{ bodyweight.weight }} kg</span>
        <span>{{ moment(bodyweight.date).format('dddd / DD MMM YY') }}</span>
    </div>
</main>

<app-toolbar>
    <app-toolbar-item 
        *ngFor="let toolbarItem of toolbarItems"
        [routerLink]="toolbarItem.route"
        [routerLinkActive]="['active']"
        [icon]="toolbarItem.icon"
        [text]="toolbarItem.text"
    ></app-toolbar-item>
</app-toolbar>