.tabs-router-outlet.is-animating {
    .component-workouts {
      top: 0px !important;
    }
}

.component-workouts {
  position: absolute;
  top: 78px;
  left: 0;
  right: 0;
  bottom: 56px;
  overflow: scroll;

  .no-movements {
    border: 2px #e0e0e0 solid;
    color: #999;
    margin: 20px;
    padding: 40px;
    text-align: center;
    
    .title {
      font-size: 20px;
      margin-bottom: 8px;
    }
  }
}