<app-navbar>
    <app-navbar-left>Exercises</app-navbar-left>
    <app-navbar-right 
        [routerLink]="['/exercises', 'add']">
        <i class='fal fa-plus'></i>
    </app-navbar-right>
</app-navbar>

<div class="searchbar-mask"></div>
<section class="serachbar">
    <i class="fal fa-search"></i>
    <input type="text" placeholder="Tap to seach" #filterEl (input)="filter.next(filterEl.value)">
</section>

<main>
    <div *ngFor="let date of Object.keys(items).reverse()">
        <app-date-item 
            [date]="moment(date).format('dddd / DD MMMM')"
        ></app-date-item>
        <app-exercise 
            *ngFor="let exercise of items[date]" 
            [routerLink]="['/exercises', 'detail', exercise.id]"
            [movement]="exercise.movement" 
            [tag]="generateAverageString(exercise.sets)"
        ></app-exercise>
    </div>
</main>

<app-toolbar>
    <app-toolbar-item 
        *ngFor="let toolbarItem of toolbarItems"
        [routerLink]="toolbarItem.route"
        [routerLinkActive]="['active']"
        [icon]="toolbarItem.icon"
        [text]="toolbarItem.text"
    ></app-toolbar-item>
</app-toolbar>