.view-exercises {
    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px #e0e0e0;
        padding: 0 0 0 3vw;

        .title {
            text-transform: capitalize;
            color: #333;
        }

        .table {
            >div {
                color: #333;
                display: flex;
                justify-content: space-between;
                padding: 4px 3vw;
                font-size: 14px;
                
                &:nth-child(even) {
                    background-color: #eee;
                }
                
                &>div {
                    width: 50px;
                    text-align: left
                }

                &>div:last-child {
                    text-align: right
                }                
            }
        }
    }
}