@import "../../../styles/variables.scss";

:host {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #E0E0E0;
    background-color: #fff;
    position: relative;
    flex: 1;
}

:host.active {
    background-color: #eee;
    color: $color-1;
    position: relative;
}

:host.active:after {
    content: '';
    display: block;
    height: 3px;
    background: $color-1;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

p {
    font-weight: 300;
    font-size: 13px;
}

i {
    font-size: 25px;
    margin-bottom: 12px;
    display: block;
}