.component-date-item {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 98;
  background-color: white;
  line-height: 42px;
  text-align: center;
  color: #F44336;
  border-bottom: 1px solid #E0E0E0;
  font-size: 14px;
  font-weight: 400;
  
  strong {
      display: inline-block;
      margin-right: 4px;
      font-weight: 600;
  }
}
